
*{
    box-sizing: border-box;
}

body{
     background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #fff;
    padding: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.formulaire{}

.formulaire fieldset{
    
    border: 1px dotted rgb(0, 0, 0);
    margin: 0;
    max-width: 1100px;
    background-color: #000000;
    padding: 25px; 
}

.formulaire__div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}