* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
}

/* HERO */
.hero {
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
                url("../images/801433.jpg") center/cover no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #fff;
    padding: 40px;
}

.hero__titre {
     margin: 0 auto 0 0;
            max-width: 900px;
            padding: 30px;
            background-color: rgba(245, 245, 220, 0.466);
}

.hero h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #ddd;
    background-color: #ffffff54;
}

.hero__bouton {
    background-color: #ff6600;
    color: #fff;
    padding: 2px 30px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    
}

.hero__bouton:hover {
    background-color: #ff4500;
}


section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
    color: #333;
}

#un { 
   background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
                url("../images/NlCb7c.jpg") center/cover no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #fff;
    padding: 40px;
 }

#deux { 
   background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
                url("../images/Darksouls3-feature.webp") center/cover no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #fff;
    padding: 40px;
 }
#trois { 
     background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
                url("../images/dark-souls-3-irithyll.jpg") center/cover no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #fff;
    padding: 40px;
 }

#quatre { 
   background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
                url("../images/Darksouls3-feature-1.webp") center/cover no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #fff;
    padding: 40px;
}
#cinq {
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
                url("../images/Darksouls3-feature-2.webp") center/cover no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #fff;
    padding: 40px;
}
#six { 
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
                url("../images/Darksouls3-feature-3.webp") center/cover no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #fff;
    padding: 40px;
}
#Adresse { 
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
                url("../images/Darksouls3-feature-5.webp") center/cover no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #fff;
    padding: 40px;
}


footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}
.centre__hero{
 margin: 0 auto 0 0;
            max-width: 900px;
            padding: 30px;
            
}
.hero__logo{
    margin: 0 auto 0 0;
            
}