.navigation{
position: fixed;
top: 20px;
right: 20px;
}

#chk-burger{
    display: none;
}

.navigation__bouton{}

.navigation__menu{
    display: none;
    background-color: black;
    padding: 10px;
}

.navigation__menu a{
    display: block;
    text-decoration: none;
    background-color:rgba(255, 255, 255, 0.281) ;
    padding: 4px;
    margin: 5px;
    color: #fff;
    font-size: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

#chk-burger:checked ~ .navigation__menu{
    display: block;

}

